
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}
table {
  width: 800px;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #ffffff;
  margin: 20px;
}
th {
  background-color: #008037; 
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
td{
  padding: 20px;
  margin: 10px;
  background-color: #edeaea;
}

